#autocomplete-input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 50% !important;
    border: #000000 3px solid !important;
}

#select-brand {
    padding: 5px !important;
    font-size: 18px !important;
    width: 60% !important;
    margin-left: auto; 
    margin-right: auto;

}

img.responsive-img,
video.responsive-video {
  height: 252px;
  width: 100%
}

.card {
  height:23rem
}

h6 {
  line-height: 1rem
}

h6 b {
  font-size:1.0rem
}

.card .card-content {
  padding: 0;
  margin: 1rem
}

@media only screen and (max-width: 1240px) {
  img.responsive-img,
  video.responsive-video {
    height: 150px;
    width: 100%;
  }
  h6 b{
    font-size: 0.9rem
  }
  .card-content {
    font-size: 0.8rem
  }
}