
#login-page {
   width: 600px;
}

#login-card {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}

#signupInput {
   width : 95%;
}
#signupInputp {
   width : 90%;
}